@model Trail
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Trail Description</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <h1>@Model.Name</h1>
        <h3>Description</h3>
        <h5>@Model.Description</h5>
        <h3>Trail Length</h3>
        <h5>@Model.Length Miles</h5>
        <h3>Evevation Change</h3>
        <h5>@Model.ElevationChange feet</h5>
        <h3>Longitude</h3>
        <h5>@Model.Longitude &#176 N</h5>
        <h3>Latitude</h3>
        <h5>@Model.Latitude &#176 N</h5>


        







        <a href="/">Go Home</a>
    </body>
</html>