@model List<Review>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <h1>Reviews, here's all of them:</h1>
    @foreach(var review in Model)
    {
        <h3>Review for: @review.restaurant_name  ~ 
            
            @{
                for(int i = 0; i < @review.stars; i++)
                {
                    <img src="~/img/star.png" alt="picture of star">
                }
            }
        </h3>
        <h4>Reviewer: @review.reviewer_name - @review.created_at.ToString("MMM dd, yyyy")</h4>
        <h4 class = "center">@review.review</h4>
        <br>
        <hr>
    }

    <a href="/">Go Home</a>
</body>
</html>
