@model HomePageViewModel

<h2>Hello, @Model.user.first_name!</h2>

<form asp-action="CreateSecret" asp-controller="Secret" method="POST">
    <span asp-validation-for="secret.message"></span>
    <input class = "postInput" asp-for="secret.message" placeholder="Your secret here..">

    <input class = "postButton" type="submit" value="Post">
</form>

<a href="/mostpopular">Most Popular secrets...</a>

<h3>Recent Secrets...</h3>
@{
    foreach(var secret in @Model.secrets)
    {
        int numLikes = 0;
        bool loggedUserLiked = false;
        foreach(var like in @Model.likes)
        {
            if(like.secret_id == @secret.secret_id)
            {
                if(like.user_id == @Model.user.user_id)
                {
                    loggedUserLiked = true;
                }
                numLikes += 1;
            }
        }

        if(@secret.user_id == @Model.user.user_id)
        {
            <p>@secret.message <a href="/delete/@secret.secret_id/@Model.user.user_id">Delete</a></p>
        }
        else if(loggedUserLiked)
        {
            <p>@secret.message <span class = "likes">@numLikes likes ~ you liked this</span> <a href="/unlike/@secret.secret_id/@Model.user.user_id">Unlike</a></p> 
        }
        else
        {
            <p>@secret.message <span class = "likes">@numLikes likes</span> <a href="/like/@secret.secret_id/@Model.user.user_id">Like</a></p>
        }
    }
}


<a href="/logout">Logout</a>