@model MostPopularViewModel

<h1>Most Popular Secrets..</h1>
@{
    foreach(var secret in @Model.secrets)
    {
        int numLikes = 0;
        bool loggedUserLiked = false;
        foreach(var like in @Model.likes)
        {
            if(like.secret_id == @secret.secret_id)
            {
                if(like.user_id == @Model.user.user_id)
                {
                    loggedUserLiked = true;
                }
                numLikes += 1;
            }
        }

        if(@secret.user_id == @Model.user.user_id)
        {
            <p>@secret.message <span class = "likes">@numLikes likes ~ you posted this</span> <a href="/delete/@secret.secret_id/@Model.user.user_id">Delete</a></p>
        }
        else if(loggedUserLiked)
        {
            <p>@secret.message <span class = "likes">@numLikes likes ~ you liked this</span></p>
        }
        else
        {
            <p>@secret.message <span class = "likes">@numLikes likes</span></p>
        }
    }
}

<a href="/secrets">Back</a>